deploy/step-functions/simplified-workflow.json
{
  "Comment": "ADPA Simplified ML Pipeline - Core autonomous workflow",
  "StartAt": "DataIngestion",
  "States": {
    "DataIngestion": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "ingest_data",
        "data_path.$": "$.data_path",
        "objective.$": "$.objective"
      },
      "ResultPath": "$.ingestion_result",
      "Next": "DataCleaning",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PersistFailure"
        }
      ]
    },
    "DataCleaning": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "clean_data",
        "data.$": "$.ingestion_result.data",
        "strategy": "intelligent"
      },
      "ResultPath": "$.cleaning_result",
      "Next": "FeatureEngineering",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PersistFailure"
        }
      ]
    },
    "FeatureEngineering": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "engineer_features",
        "data.$": "$.cleaning_result.data",
        "objective.$": "$.objective"
      },
      "ResultPath": "$.feature_result",
      "Next": "ModelTraining",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PersistFailure"
        }
      ]
    },
    "ModelTraining": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName.$": "$.training_job_name",
        "RoleArn": "arn:aws:iam::083308938449:role/adpa-sagemaker-execution-role",
        "AlgorithmSpecification": {
          "TrainingImage": "825641698319.dkr.ecr.us-east-2.amazonaws.com/xgboost:1.5-1",
          "TrainingInputMode": "File",
          "TrainingImageConfig": {
            "TrainingRepositoryAccessMode": "Platform"
          }
        },
        "HyperParameters": {
          "objective": "binary:logistic",
          "num_round": "50",
          "max_depth": "5"
        },
        "InputDataConfig": [
          {
            "ChannelName": "training",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri.$": "$.feature_result.training_data_s3",
                "S3DataDistributionType": "FullyReplicated"
              }
            },
            "ContentType": "text/csv"
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://adpa-models-083308938449-production/sagemaker-output/"
        },
        "ResourceConfig": {
          "InstanceType": "ml.m5.large",
          "InstanceCount": 1,
          "VolumeSizeInGB": 10
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 3600
        }
      },
      "ResultPath": "$.training_result",
      "Next": "ModelEvaluation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PersistFailure"
        }
      ]
    },
    "ModelEvaluation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "evaluate_model",
        "model_artifacts.$": "$.training_result.ModelArtifacts.S3ModelArtifacts",
        "test_data.$": "$.feature_result.test_data_s3"
      },
      "ResultPath": "$.evaluation_result",
      "Next": "PersistResult",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "PersistFailure"
        }
      ]
    },
    "PersistResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "persist_pipeline_result",
        "status": "completed",
        "pipeline_id.$": "$.pipeline_id",
        "data_path.$": "$.data_path",
        "objective.$": "$.objective",
        "training_job_name.$": "$.training_job_name",
        "execution_arn.$": "$$.Execution.Id",
        "execution_name.$": "$$.Execution.Name",
        "ingestion_result.$": "$.ingestion_result",
        "cleaning_result.$": "$.cleaning_result",
        "feature_result.$": "$.feature_result",
        "training_result.$": "$.training_result",
        "evaluation_result.$": "$.evaluation_result"
      },
      "ResultPath": "$.persistence",
      "Next": "NotifySuccess",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "NotifySuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-2:083308938449:adpa-pipeline-notifications",
        "Subject": "ADPA Pipeline Success",
        "Message.$": "States.Format('Pipeline {} completed successfully. Accuracy: {}', $.training_job_name, $.evaluation_result.accuracy)"
      },
      "End": true
    },
    "PersistFailure": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-2:083308938449:function:adpa-lambda-function",
      "Parameters": {
        "action": "persist_pipeline_result",
        "status": "failed",
        "pipeline_id.$": "$.pipeline_id",
        "data_path.$": "$.data_path",
        "objective.$": "$.objective",
        "training_job_name.$": "$.training_job_name",
        "execution_arn.$": "$$.Execution.Id",
        "execution_name.$": "$$.Execution.Name",
        "ingestion_result.$": "$.ingestion_result",
        "cleaning_result.$": "$.cleaning_result",
        "feature_result.$": "$.feature_result",
        "error.$": "$.error"
      },
      "ResultPath": "$.persistence",
      "Next": "NotifyFailure"
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:us-east-2:083308938449:adpa-pipeline-notifications",
        "Subject": "ADPA Pipeline Failure",
        "Message.$": "States.Format('Pipeline failed: {}', $.error.Error)"
      },
      "End": true
    }
  }
}
